.DS_Store
_*
custom.*

*
!alacritty
!ghostty
!helix
!iterm
!pgcli
!scripts
!shell
!tmux
!vscode

!nvim
nvim/lazy-lock.json

!ipython/profile_default/ipython_config.py
!ipython/profile_default/ipython_kernel_config.py
